body {
    margin: 0;
    padding: 0;
    background-color: #fffbea; /* пастельно-жёлтый фон */
    font-family: 'Segoe UI', sans-serif;
  }
  
  .login-container {
    max-width: 360px;
    margin: 80px auto;
    padding: 2rem;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  }
  
  .login-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
  }

  .center-container {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center; 
    height: 40vh;        
    text-align: center;
  }
  
  .logo {
    max-width: 200px;
    margin: auto;
  }
  
  .login-container input {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fdfdfc;
    transition: border 0.2s, background-color 0.2s;
  }
  
  .login-container input:focus {
    border-color: #1F41FF;
    background-color: #fff;
    outline: none;
  }
  
  .login-container button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background-color: #1F41FF; /* синий */
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .login-container button:hover {
    background-color: #0e2fdc; /* тёмно-синий при наведении */
  }
  
  .login-container p {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.95rem;
    color: #555;
  }
  
  .login-container a {
    color: #1F41FF;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }

h2{
    color: #1F5B3B;
    font-size: 40px;
  }